<div id="close-order-table" class="hidden">
    <input id="order-id-to-close" class="order-id" type="hidden" >
    <div class="boxed-group right">
        <h3>Complete order</h3>

        <ul class="browser-list">
            <form id="close-order-form">
                <input type="hidden" name="order[status]" value="1">
                <li class="browser-list-item">
                    <span class="browser-list-cell param-title">Place</span>
                    <span class="browser-list-cell param-edit">
                      <input class="browser-edit-input" id="item-place" name="order[place]" size="30" type="text">
                   </span>
                    <span class="browser-list-cell param-control"></span>
                </li>
                <li class="browser-list-item">
                    <span class="browser-list-cell param-title">Catalogue number</span>
                    <span class="browser-list-cell param-edit">
                      <input class="browser-edit-input" id="item-catalog_number" name="order[catalog_number]" size="30" type="text">
                   </span>
                    <span class="browser-list-cell param-control"></span>
                </li>
                <li class="browser-list-item">
                    <span class="browser-list-cell param-title">Arrival date</span>
                    <span class="browser-list-cell param-edit">
                      <input class="browser-edit-input" id="item-arrival_date" name="order[arrival_date]" size="30" type="text">
                   </span>
                    <span class="browser-list-cell param-control"></span>
                </li>
            </form>
        </ul>
        <button id="close-order-submit-button" type="submit" class="button primary right">Complete order</button>
    </div>
</div>

<div id="show-order-table" class="hidden">
    <input class="order-id" type="hidden" >
    <div class="boxed-group right">
        <h3>Order details</h3>

        <!--<div class="boxed-group-inner clearfix ">-->

            <!--<div id="show-order-form" class="">-->
        <ul class="browser-list">
        <% arr_names = ["product", "comment", "place", "catalog_number", "arrival_date", "ordered_from", "price", "quantity", "units", "department", "url"]
           arr_titles = ["Product", "Description", "Place", "Catalogue number", "Arrival date", "Ordered from", "Price", "Quantity", "Units", "Ordering department", "Order URL"]
           for i in 0..(arr_names.size-1)
        %>
            <li class="browser-list-item">
                <span class="browser-list-cell param-title"><%= arr_titles[i] %></span>
                <span id="order-<%= arr_names[i] %>-txt" class="browser-list-cell param-value"></span>
                <span id="order-<%= arr_names[i] %>-edit" class="browser-list-cell param-edit hidden"><input id="order-<%= arr_names[i] %>-entry" class="browser-edit-input"></span>

                <span id="order-<%= arr_names[i] %>-button" class="browser-list-cell param-control">
                    <% if i!=0 %>
                    <div class="edit-butt right"><span><span class="fa fa-pencil"></span> Edit</span></div>
                    <div class="control-butt right hidden"><button class="button cancel">Cancel</button><button class="button save primary">Save</button></div>
                    <% end %>
                </span>

            </li>
        <% end %>

        </ul>
    </div>
</div>

<ul id="param-template-txt" class="hidden">
    <li class="browser-list-item product-param">
        <span class="browser-list-cell param-title"></span>
        <span class="browser-list-cell param-value"></span>
        <span class="browser-list-cell param-edit hidden"><input id="order-xxx-entry" class="browser-edit-input"></span>
                <span class="browser-list-cell param-control">
                    <div class="edit-butt right"><span><span class="fa fa-pencil"></span> Edit</span></div>
                    <div class="control-butt right hidden"><button class="button cancel">Cancel</button><button class="button save primary">Save</button></div>
                </span>
    </li>
</ul>