<% content_for :title, "LarkLims - Dashboard" %>

<div class="content clearfix">

    <div class="contenthead-spaceonly">
        <!--<span>Dashboard</span>-->
    </div>
    <div id="browser-menu-tab" class="browser-content clearfix">
        <div class="browser-subnav clearfix">
            <%= link_to "New Order", "#", :class => "button primary right", :id => "new-order-button" %>
            <%= link_to "New Product", new_product_path, :class => "button primary right hidden" , :id => "new-product-button" %>
            <%= link_to "New User", new_user_path, :class => "button primary right hidden" , :id => "new-user-button" %>
            <div class="browser-links left">
                <a id="orders-button" class="browser-subnav-item selected">Orders</a>
                <a id="products-button" class="browser-subnav-item">Products</a>
                <% if current_user.admin? %>
                    <a id="users-button" class="browser-subnav-item">Users</a>
                <% end %>
            </div>
        </div>

        <div id="browser-list-header-tab" class="browser-list-header clearfix">
            <label class="browser-list-header-select-all">
                <input id="browser-select-all" type="checkbox" />
            </label>
            <div class="browser-list-filters">
                <div id="orders-title" class="browser-list-header-toggle states left">
                    <a id="order-stat-open" href="#" class="button-link selected"><i class="fa fa-arrow-circle-o-up"></i> Open</a>
                    <a id="order-stat-closed" href="#" class="button-link"><i class="fa fa-check"></i> Completed</a>
                </div>
                <div id="browser-filter-controls" class="browser-list-header-toggle right">
                    <div class="left select-menu">
                        <span class="button-link select-menu-button">
                            Status
                        </span>
                        <span class="button-link select-menu-button">
                            Created by
                        </span>
                        <span class="button-link select-menu-button">
                            Sort
                        </span>
                    </div>
                </div>
                <div id="browser-products-header" class="browser-list-header-toggle hidden">
                    <a class="button-link selected">Products</a>
                </div>
            </div>
        </div>
        <ul id="orders-table" class="browser-list">
            <!--loaded dynamically by load_orders()-->
        </ul>
        <ul id="products-table" class="browser-list hidden">
            <!--loaded dynamically by load_orders()-->
        </ul>
        <ul id="users-table" class="browser-list hidden">
            <!--loaded dynamically by load_orders()-->
        </ul>

        <%= render "error" %>
        <%= render "new_order_form" %>
        <%= render "show_order_form" %>
    </div>



    <div class="hidden">
        <ul>
            <li id="list_item_template" class="browser-list-item">
                <label class="browser-list-cell browser-list-cell-checkbox">
                    <input type="checkbox">
                </label>
                <div class="browser-list-cell">
                    <a class="browser-list-cell-title-link" href="#"></a>
                    <div class="browser-meta">
                        <span></span>
                    </div>
                </div>
            </li>

            <li id="list_item_template2" class="browser-list-item">
                <label class="browser-list-cell browser-list-cell-checkbox">
                    <div class="lab">
                        <i class="fa fa-tags"></i>
                    </div>
                </label>
                <div class="browser-list-cell">
                    <a class="browser-list-cell-title-link" href="#"></a>
                    <div class="browser-meta">
                        <span></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
    </div>
</div>

<script type="text/javascript">
    browser_menu();
    load_orders();

</script>
