<!DOCTYPE html>
<html>
<head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>


<div class="wrapper">
    <div class="header">
        <div class="container clearfix">

            <div class="header_element theme_background">
                <div id="home_icon" class="pictogram_image lark_pictogram_image">
                </div>
            </div>

            <div class="site-search">
                <form>
                    <input type="text">
                </form>
            </div>
            <ul class="nav-left">
                <li class="header-nav-item">
                    <%= link_to 'Products', controller: 'products' %>
                </li>
                <li class="header-nav-item">
                    <%= link_to 'Orders', controller: 'orders' %>
                </li>
                <li class="header-nav-item">
                    <%= link_to 'Import', controller: 'populate', action: 'index' %>
                </li>
                <li class="header-nav-item">
                    <%= link_to 'Export', controller: 'populate', action: 'export', format: 'xls' %>
                </li>

            </ul>
            <ul class="nav-right">
                <% if current_user %>
                    <li class="header-nav-item">
                        <%= link_to edit_user_url(current_user.id) do %>
                        <span class="username">bdomokos</span>
                        <% end %>
                    </li>
                <% end %>
                <li class="header-nav-item">
                    <i class="fa fa-cog"></i>
                </li>
                <% if current_user %>
                    <li class="header-nav-item">
                        <%= link_to logout_path, :method => 'post' do %>
                            <i class="fa fa-sign-out"></i>
                        <% end %>
                    </li>
                <% end %>


            </ul>
        </div>
    </div>
    <div class="content">
        <%= yield %>

        <div>
            <p id="notice"><%= flash[:notice] %></p>
            <p id="alert"><%= flash[:alert] %></p>
        </div>
    </div>
</div>

</body>
</html>

